@tailwind base;
@tailwind components;
@tailwind utilities;

button,a{
    font-family: monospace;
}
/* a:hover{
    outline: none;
    box-shadow: 4px 4px 0 0 #64ffda;
    transform: translate(-5px, -5px);
} */

.dnld-cv::after{
    transition: width 0.3s ease-out;
}